<div [ngSwitch]="condition.type" class="cs">
  <div *ngSwitchCase="'and'" class="and">
    <button *ngIf="condition.parent" class="delete" (click)="condition.parent.remove(condition)"></button>
    <button class="add-expression" (click)="addExpression()">Add Expression</button>
    <button class="add-and" (click)="addOr()">Add or</button>

    <div *ngFor="let c of condition.all; last as isLast">
      <app-condition [condition]="c"></app-condition>
      <span *ngIf="!isLast" class="and-separator">AND</span>
    </div>
  </div>
  <div *ngSwitchCase="'or'" class="or">
    <button class="delete" (click)="condition.parent.remove(condition)"></button>
    <button class="add-expression" (click)="addExpression()">Add Expression</button>
    <button class="add-and" (click)="addAnd()">Add and</button>

    <div *ngFor="let c of condition.any; last as isLast">
        <app-condition [condition]="c"></app-condition>
        <span *ngIf="!isLast" class="or-separator">OR</span>
      </div>
  </div>
  <div *ngSwitchCase="'expression'" class="expression">
    <button class="delete" (click)="condition.parent.remove(condition)"></button>
    {{ condition.leftHand }} {{ condition.operator }} {{ condition.rightHand }}
  </div>
</div>
