<app-confirm-modal #confirmModal></app-confirm-modal>

<div class="section">
  <div class="container">
      <div class="columns" *ngIf="filter; else loading">

        <!-- Sidebar -->
        <div class="column is-narrow" id="collection">
          <aside class="menu">
            <a class="button is-link is-outlined is-fullwidth" routerLink="/app/filters">
              New filter
            </a>
            <p class="menu-label">Filters</p>
            <ul class="menu-list">
              <li *ngFor="let listed of filters">
                <!-- Active Filter -->
                <a *ngIf="listed.id == filter.id">
                  {{ filter.name || "[Empty]" }}
                </a>

                <!-- Other Filters -->
                <a class="has-text-link" *ngIf="listed.id != filter.id" routerLink="/app/filters/{{listed.id}}">
                  {{ listed.name }}
                </a>
              </li>
            </ul>
          </aside>
        </div>

        <!-- Filter Form -->
        <div class="column">
          <form #filterForm="ngForm" (ngSubmit)="onSubmit(filterForm)">
            <div class="field">
              <div class="field-body">
                <!-- Name -->
                <div class="field">
                  <div class="control">
                    <input class="input" [(ngModel)]="filter.name" type="text" id="name" name="name" autocomplete="off" placeholder="Filter name&hellip;" />
                  </div>
                </div>

                <!-- Enabled -->
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input [(ngModel)]="filter.enabled" type="checkbox" id="enabled" name="enabled" />
                      Enabled?
                    </label>
                  </div>
                  <p class="help">Disable filters to hide them in the transaction view.</p>
                </div>

                <div class="buttons">
                  <!-- Submit -->
                  <button class="button is-primary" [ngClass]="{'is-loading': !formEnabled}">
                    save
                  </button>

                  <!-- Delete -->
                  <button class="button is-danger" *ngIf="filter.id" (click)="onDelete(filter.id)" [disabled]="!formEnabled">
                    Delete
                  </button>
                </div>
              </div>
            </div>

            <ngx-monaco-editor class="filter-editor" [options]="editorOptions" [(ngModel)]="filter.content" name="content"></ngx-monaco-editor>
          </form>
        </div>
      </div>

      <ng-template #loading>
        <div class="columns is-centered">
          <div class="column is-narrow">
            <a class="button is-medium is-loading is-centered">
              Button
            </a>
          </div>
        </div>
      </ng-template>
  </div>
</div>